<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/attractions.css" rel="stylesheet" type="text/css">
    <title>豪賴網 - 景點</title>
</head>

<body>
    <div class="header">
        <span class="title"><a href="index.html">howlaiAttraction</a></span><br>
        <span class="item"><a href="foods.html">美食</a></span> |
        <span class="item"><a href="movies.html">電影</a></span> |
        <span class="item"><a href="attractions.html">景點</a></span> |
        <span class="item"><a href="">吃！</a></span>
    </div>
    <div class="content">
        <div class="item">
            <img src="../img/att1.jpg" alt="">
            <div class="content">
                <p class="name">臺北101</p>
                <p class="introduction">是台灣最著名的建築物</p>
            </div>
        </div>
        <div class="item">
            <img src="../img/att1.jpg" alt="">
            <div class="content">
                <p class="name">臺北101</p>
                <p class="introduction">是台灣最著名的建築物</p>
            </div>
        </div>
        <div class="item">
            <img src="../img/att1.jpg" alt="">
            <div class="content">
                <p class="name">臺北101</p>
                <p class="introduction">是台灣最著名的建築物</p>
            </div>
        </div>
    </div>
    <div class="footer">
        豪賴景點網 &copy; 2020
    </div>
</body>

</html>