<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/foods.css" rel="stylesheet" type="text/css">
    <title>豪賴網 - 美食</title>
</head>

<body>
    <div class="header">
        <span class="title"><a href="index.html">howlaiFood</a></span>
        <span class="item"><a href="foods.html">美食</a></span> |
        <span class="item"><a href="movies.html">電影</a></span> |
        <span class="item"><a href="attractions.html">景點</a></span> |
        <span class="item"><a href="">吃！</a></span>
    </div>

    <div class="content">
        <!-- 美食資訊 -->
        <div class="left">
            <a href="foodInfo.html">
                <div class="item">
                    <img src="../img/food1.jpg" alt="">
                    <div class="content">
                        <p class="title">石石香拌面</p>
                        <p class="address">100臺北市中正區北平西路3號</p>
                        <p class="rank">4.1 ★★★★</p>
                        <p class="phone">02 6632 8999</p>
                    </div>
                </div>
            </a>
            <a href="foodInfo.html">
                <div class="item">
                    <img src="../img/food2.jpg" alt="">
                    <div class="content">
                        <p class="title">水剌韓式料理</p>
                        <p class="address">105台北市松山區光復南路1號2號樓</p>
                        <p class="rank">4.0 ★★★★</p>
                        <p class="phone">02 2748 5881</p>
                    </div>
                </div>
            </a>
            <a href="foodInfo.html">
                <div class="item">
                    <img src="../img/food6.jpg" alt="">
                    <div class="content">
                        <p class="title">康廚排骨快餐店</p>
                        <p class="address">114臺北市內湖區內湖路一段239號</p>
                        <p class="rank">3.8 ★★★</p>
                        <p class="phone">02 2657 7978</p>
                    </div>
                </div>
            </a>
            <a href="foodInfo.html">
                <div class="item">
                    <img src="../img/food8.jpg" alt="">
                    <div class="content">
                        <p class="title">Waffle Please比利時鬆餅</p>
                        <p class="address">114臺北市內湖區港墘路127巷7號</p>
                        <p class="rank">4.1 ★★★★</p>
                        <p class="phone">02 8751 0762</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- 地圖 -->
        <div class="right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14458.582893629127!2d121.52811632884628!3d25.046094295877964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw!4v1609661698820!5m2!1szh-TW!2stw" width="100%" height="100%" frameborder="0"
                style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

    </div>

</body>

</html>