<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <title>首頁</title>
</head>
<body>
    <div class="header">
        <span class="title"><a href="index.html">howlaiInfo</a></span>
        <span class="item"><a href="foods.html">美食</a></span>|
        <span class="item"><a href="movies.html">電影</a></span>|        
        <span class="item"><a href="attractions.html">景點</a></span>|        
        <span class="item"><a href="">吃！</a></span>
    </div>

    <div class="content">
        <div class="mainInfo">
            <div class="info">
                <img src="../img/index3.jpg" alt="">
                <p>電影美食景點看過來！</p>
            </div>
            <div class="info">
                <p>最新最厲害的資訊都在這！</p>
                <img src="../img/index5.jpg" alt="">
            </div>
        </div>
        <div class="contentList">
            <div class="item">
                <p class="title">🍔美食</p>
                <img src="../img/food.jpg" alt="">
                <p class="content">大稻埕慈聖宮廟口美食　「阿桂姨排骨湯」吃得到臺北小吃精髓</p>
                <p class="content">臺中6間聖誕餐廳推薦！日韓、法式、火鍋美食任選，來場耶誕用餐饗宴</p>
                <p class="content">「嘉市嚴選8好店」進軍國際美食展 林聰明砂鍋魚頭北上擺攤</p>
                <p class="content">更多...</p>
            </div>
            <div class="item">
                <p class="title">🎬電影</p>
                <img src="../img/movie.jpg" alt="">
                <p class="content">《浪客劍心：最終章》最新特報預告與上映日期正式公佈</p>
                <p class="content">《靈魂急轉彎》中文版預告新公開 本月 25 日在臺上映</p>
                <p class="content">「神隱少女」票房上修為88億元 「鬼滅之刃」直追</p>
                <p class="content">更多...</p>
            </div>
            <div class="item">
                <p class="title">🏖景點</p>
                <img src="../img/attraction.jpg" alt="">
                <p class="content">全臺十大熱搜旅遊景點！「遠得要命縣市」打敗臺南成最愛</p>
                <p class="content">西拉雅官田遊客中心，有超大草皮跟小鹿，附近還有隱藏版菱角小村莊</p>
                <p class="content">週末就醬玩彰化|火車頭旅館.萌犬彩繪.巨人洗髮精.婚紗基地</p>
                <p class="content">更多...</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>豪賴網&copy; 2020 <a href="foods.html">美食</a>｜<a href="movies.html">電影</a>｜<a href="attractions.html">景點</a></p>
    </div>
</body>
</html>