<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <title>首頁</title>
</head>
<body>
    <div class="header">
 
    </div>

    <div class="content">
        <div class="mainInfo">
            <div class="leftInfo">
                <img src="" alt="">
                <p>電影美食景點看過來！</p>
            </div>
            <div class="rightInfo">
                <p>最新最厲害的資訊都在這！</p>
                <img src="" alt="">
            </div>
        </div>
        <div class="contentList">
            <div class="item1">
                <p class="title">美食</p>
                <img src="../img/food.jpg" alt="">
                <p class="content">內文...</p>
            </div>
            <div class="item2">
                <p class="title">電影</p>
                <img src="../img/movie.jpg" alt="">
                <p class="content">內文...</p>
            </div>
            <div class="item3">
                <p class="title">景點</p>
                <img src="../img/attraction.jpg" alt="">
                <p class="content">內文...</p>
            </div>
        </div>
    </div>

    <div class="footer">

    </div>
</body>
</html>