<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/movies.css" rel="stylesheet" type="text/css">
    <title>豪賴網 - 電影</title>
</head>

<body>
    <div class="movieHeader">
        <div>
            <a href="index.html" class="title">豪賴電影網</a>
            <a href="foods.html" class="item">美食</a>
            <a href="movies.html" class="item">電影</a>
            <a href="attractions.html" class="item">景點</a>
            <a href="" class="item">吃</a>
        </div>
        <div>
            <a href="">電影</a>
            <a href="">影城</a>
            <a href="">優惠</a>
        </div>
        <div>
            <a href="">會員專區</a>
            <a href="">線上購票</a>
            <select>
                <option>選擇電影</option>
                <option>鬼滅之刃劇場版 無限列車篇</option>
                <option>神力女超人1984</option>
                <option>魔物獵人</option>
                <option>天能</option>
                <option>猛禽小隊：小丑女大解放</option>
            </select>
        </div>
    </div>

    <div class="poster">
        <img src="../img/wonderwomen1984.jpeg">
    </div>

    <div class="movieType">
        <span>現正熱映</span> |
        <span>即將上映</span> |
        <span>排行榜</span>
    </div>

    <div class="movieList">
        <a href="">
            <div>
                <img src="../img/kimetsu.jpg" alt="">
                <div class="content">
                    <p class="title">鬼滅之刃 無限列車篇</p>
                    <p class="enTitle">Kimetsu no Yaiba: Mugen Ressha-Hen</p>
                    <p class="date">2020/10/30</p>
                </div>
            </div>
        </a>
        <a href="">
            <div>
                <img src="../img/1984.jpg" alt="">
                <div class="content">
                    <p class="title">神力女超人 1984</p>
                    <p class="enTitle">Wonder Woman 1984</p>
                    <p class="date">2020/12/17</p>
                </div>
            </div>
        </a>
        <a href="">
            <div>
                <img src="../img/moster.jpg" alt="">
                <div class="content">
                    <p class="title">魔物獵人</p>
                    <p class="enTitle">Monster Hunter</p>
                    <p class="date">2020/12/04</p>
                </div>
            </div>
        </a>
        <a href="">
            <div>
                <img src="../img/tenet.jpg" alt="">
                <div class="content">
                    <p class="title">天能</p>
                    <p class="enTitle">TENET</p>
                    <p class="date">2020/8/30</p>
                </div>
            </div>
        </a>
        <a href="">
            <div>
                <img src="../img/birdsOfPrey.jpg" alt="">
                <div class="content">
                    <p class="title">猛禽小隊：小丑女大解放</p>
                    <p class="enTitle">Birds of Prey</p>
                    <p class="date">2020/02/26</p>
                </div>
            </div>
        </a>
    </div>

    <div class="footer">豪賴電影網 &copy; 2020</div>
</body>

</html>